@use 'variables'
@use 'mixins'

*
  box-sizing: border-box
  margin: 0
  list-style: none  
  padding: 0
  text-decoration: none



body
  background-color: variables.$light-black
  color: variables.$white
  font-family: 'Orbitron'
  max-width: auto
  height: 100vh

  a
    color: variables.$white
    transition: .5s 

  .title
    font-size: 2rem
    font-weight: 400

  .title::before
    background-image: url('../../assets/images/graphic.svg') 

  .container-shape
    background-size: 100%
    box-shadow: 0px 0px 40px variables.$dark-yellow
    position: absolute

  .header
    align-items: center
    background-color: variables.$light-black
    display: flex    
    font-family: 'Inter', sans-serif
    justify-content: space-around
    padding: 10px
    // position: fixed
    width: 100%

    &_navbar

      ul
        height: 100%
        @include mixins.flex-center

        li
          margin: .5rem 1rem  
          font-size: 1.2rem 
          
        .active
          background-color: variables.$light-yellow
          box-shadow: 0px 0px 10px 0px variables.$dark-yellow 
          color: variables.$black  
          font-weight: bold

        a
          border-radius: 5px
          padding: 5px 20px 
          &:hover
            background-color: variables.$light-yellow
            box-shadow: 0px 0px 10px 0px variables.$dark-yellow 
            color: variables.$black 
            font-weight: bold 

          
    &_languages 
    @include mixins.flex-center 

  .main
    background: radial-gradient(circle, rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 55%)
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    height: 92%

    &_infos
      max-width: 50%
      padding: 10rem 1rem 4rem 4rem
      @include mixins.flex-center
      flex-direction: column

      #name
        font-size: 3.5rem

      #profission
        color: variables.$light-yellow
        text-shadow: 0px 0px 15px variables.$dark-yellow 
        font-family: 'roboto mono'
        font-weight: 400
        font-size: 1.5rem
        padding: 0 0 .8rem 0 

      .main_social-media  
        img
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.500)
          color: variables.$black
          cursor: pointer
          font-size: 3rem
          margin: 2rem .5rem
          width: 60px
    
      #main_cta
        @include mixins.flex-center
        flex-direction: column
        padding: 1rem
        
        .main_btn
          background: linear-gradient(180deg, #1A1A1A 0%, #262626 100%)
          border-radius: 5px
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.500)
          cursor: pointer
          font-size: 1.5rem 
          margin-bottom: 1rem
          text-align: center
          padding: .8rem
          width: 20rem

      

    #main_container-shape
      background-image: url('../../assets/images/bg1.svg')
      background-repeat: no-repeat
      bottom: 0
      height: 85%
      right: 0
      width: 45%
      position: absolute

    &_perfil-photo
      img
        bottom: 0
        position: absolute
        right: 1%
        width: 40rem
      
  #about
    position: relative
    background: rgb(26, 26, 26)
    background: linear-gradient(211deg, rgba(26, 26, 26, 1) 65%, rgba(51, 51, 51, 1) 100%)
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    height: 100vh
    box-shadow: 0px 0px 40px variables.$dark-yellow

    &::after
      content: ""
      position: absolute
      top: 0
      right: 3.3rem
      width: 100%
      height: 100%
      background-image: url('../../assets/images/bg2.svg')
      background-position: top right
      background-repeat: no-repeat
      background-size: cover

    .title
      margin-left: 18rem

    

  