* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #1A1A1A;
  color: #fff;
  font-family: "Orbitron";
  max-width: auto;
  height: 100vh;
}
body a {
  color: #fff;
  transition: 0.5s;
}
body .title {
  font-size: 2rem;
  font-weight: 400;
}
body .title::before {
  background-image: url("../../assets/images/graphic.svg");
}
body .container-shape {
  background-size: 100%;
  box-shadow: 0px 0px 40px #EBC634;
  position: absolute;
}
body .header {
  align-items: center;
  background-color: #1A1A1A;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header_navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header_navbar ul li {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}
body .header_navbar ul .active {
  background-color: #F9E650;
  box-shadow: 0px 0px 10px 0px #EBC634;
  color: #0F0F0F;
  font-weight: bold;
}
body .header_navbar ul a {
  border-radius: 5px;
  padding: 5px 20px;
}
body .header_navbar ul a:hover {
  background-color: #F9E650;
  box-shadow: 0px 0px 10px 0px #EBC634;
  color: #0F0F0F;
  font-weight: bold;
}
body .main {
  background: radial-gradient(circle, rgb(51, 51, 51) 0%, rgb(26, 26, 26) 55%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 92%;
}
body .main::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background-image: url("../../assets/images/bg1.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cntain;
}
body .main_infos {
  max-width: 50%;
  padding: 10rem 1rem 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main_infos #name {
  font-size: 3.5rem;
}
body .main_infos #profission {
  color: #F9E650;
  text-shadow: 0px 0px 15px #EBC634;
  font-family: "roboto mono";
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0 0 0.8rem 0;
}
body .main_infos .main_social-media img {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  color: #0F0F0F;
  cursor: pointer;
  font-size: 3rem;
  margin: 2rem 0.5rem;
  width: 60px;
}
body .main_infos #main_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
body .main_infos #main_cta .main_btn {
  background: linear-gradient(180deg, #1A1A1A 0%, #262626 100%);
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.8rem;
  width: 20rem;
}
body .main_perfil-photo img {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 45rem;
}
body #about {
  position: relative;
  background: rgb(26, 26, 26);
  background: linear-gradient(211deg, rgb(26, 26, 26) 65%, rgb(51, 51, 51) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
body #about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg2.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
body #about .title {
  padding-left: 18rem;
  padding-top: 5rem;
}
body #about .title::before {
  background-image: url("../../assets/images/graphic.svg");
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
  height: 100%;
  position: absolute;
  text-shadow: 0px 0px 15px #EBC634;
  right: 1rem;
  width: 100%;
}
body #projects {
  position: relative;
  background: #1A1A1A;
  background: linear-gradient(140deg, rgb(26, 26, 26) 40%, rgb(37, 37, 37) 70%, rgb(51, 51, 51) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
body #projects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg3.svg");
  background-position: bottom-left;
  background-repeat: no-repeat;
  background-size: cover;
}
body #projects .title {
  text-align: center;
  padding-top: 5rem;
}
body #projects .title::before {
  background-image: url("../../assets/images/graphic.svg");
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
  height: 100%;
  position: absolute;
  text-shadow: 0px 0px 15px #EBC634;
  right: 1rem;
  width: 100%;
}
body #certifications {
  position: relative;
  background: #1A1A1A;
  background: linear-gradient(45deg, rgb(26, 26, 26) 40%, rgb(37, 37, 37) 70%, rgb(51, 51, 51) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
body #certifications::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg4.svg");
  background-position: bottom-left;
  background-repeat: no-repeat;
  background-size: cover;
}
body #certifications .title {
  text-align: center;
  padding-top: 5rem;
}
body #certifications .title::before {
  background-image: url("../../assets/images/graphic.svg");
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
  height: 100%;
  position: absolute;
  text-shadow: 0px 0px 15px #EBC634;
  right: 1rem;
  width: 100%;
}
body #habilities {
  position: relative;
  background: #1A1A1A;
  background: linear-gradient(45deg, rgb(26, 26, 26) 40%, rgb(37, 37, 37) 70%, rgb(51, 51, 51) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
body #habilities::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #habilities .title {
  text-align: center;
  padding-top: 5rem;
}
body #habilities .title::before {
  background-image: url("../../assets/images/graphic.svg");
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
  height: 100%;
  position: absolute;
  text-shadow: 0px 0px 15px #EBC634;
  right: 1rem;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */