@use 'variables'
@use 'mixins'

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: 'Orbitron'
  background-color: variables.$light-black 
  color: variables.$white

  a
    color: variables.$white
    text-decoration: none
    transition: .5s  

  ul 
    list-style: none  

.header
  display: flex    
  justify-content: space-between
  font-family: 'Inter', sans-serif

  &-navbar
    height: 40px

    ul
      height: 100%
      @include mixins.flex-center

      li
        margin: 0 1rem       
        font-size: .8rem 
        padding: 10px 0px

      .active
        border-radius: 10px
        background-color: variables.$light-yellow
        box-shadow: 0px 0px 20px 0px variables.$dark-yellow 
        
  &-languages
    img
      background-color: variables.$light-black
      width: 30px 
      
